[2017-10-09 07:48] kurtsergey opened #1 "Native ads missed"
Is there plan to support Native ads?

[2017-10-18 21:54] Terfender opened #3 "No resource found that matches the given name (at 'value' with value '@integer/google_play_services_version')"
Hi,
I am getting this error when building my RN project as well as the example project in this repo.
I made sure I have google-play-service installed via Android Studio SDK Manager.

Added to my app build.gradle
[code]

I also tried to update using the latest google-play-service version.

Adding `apply plugin: 'com.google.gms.google-services'` in build.gradle didn't help

[2017-10-23 15:57] kurtsergey commented on #3
the same issue

[2017-10-23 16:47] NathHorrigan commented on #3
same issue

[2017-10-23 16:57] sneerin commented on #3
I spent some time to fix it:
https://github.com/sneerin/react-native-appodeal/
as a temporary solution
You have to add     compile 'com.android.support:recyclerview-v7:23.1.1' to your build.gradle, I did it because I have multidex in my app.

[2017-10-23 17:39] NathHorrigan commented on #3
@sneerin  Fucking Awesome dude, How come you haven't created PR??

[2017-10-23 17:55] sneerin commented on #3
because i'm not sure if it will be working for you, you can check,  it's just two file changes there. So as a temporary solution you can include it to your product in package.json "react-native-appodeal": "https://github.com/sneerin/react-native-appodeal.git", and if an owner of this repo will fix it just replace it with the original package.

[2017-10-23 17:57] sneerin commented on #3
Please also be aware, that maintainers of the code didn't not deprecate several types of ads, so that once you try non-skipable video it's just failed to show without any warning or so.

[2017-10-23 18:00] NathHorrigan commented on #3
@sneerin I'm running out of memory building after linking your lib

[2017-10-23 18:10] sneerin commented on #3
do you have multi-dex app?

[2017-10-23 18:12] sneerin commented on #3
also, is this your first time you integrate this lib, I remember my app become multi-dex, and run out of memory this is ok, since this lib includes lot's of third party shit.

[2017-10-23 18:44] NathHorrigan commented on #3
After a restart everything worked - Thanks!!

[2017-10-23 18:45] NathHorrigan opened #4 "you sent a request from invalid bundle_id"
My bundle_id is valid (android package name matches one entered in appodeal backend). There isn't much else I can say about this issue except its reporting an invalid bundle_id

[2017-10-24 18:04] NathHorrigan commented on #4
Resolved Itself

[2017-10-24 18:04] #4 closed

[2017-11-04 13:13] Param-Harrison opened #5 "How to show the banner ad in a container or change the size (Width & Height)"

[2017-11-11 10:13] Param-Harrison opened #6 "Could not find com.adcolony:sdk:3.2.1"
How to get rid of this issue

[2017-11-18 04:37] jsoutherner commented on #3
Still have a problem.
Found interesting thing on website - https://www.appodeal.com/sdk/documentation?framework=12&full=1&platform=1

Seem like its not new problem. But what is the official solution for react-native?

[2017-11-23 10:14] Param-Harrison commented on #6
I solved the issue by following the docs

[2017-11-23 10:14] #6 closed

[2017-11-26 19:22] Param-Harrison opened #7 "what will be the different options for "placement name"?"
It is used here in the documentation
Appodeal.show(adtypes, "placement_name");
@NazarKozak I tag you so that you will get the notification. I didn't get any reply so far in this package. So, don't have any other option than tagging the developer.
Please help explaining a bit

[2017-11-26 19:37] NazarKozak commented on #7
Hi Param! Sure, thanks for tagging. Sorry for no reply.
Placement allows you to control ads with our dashboard (Segments section). It should be named with the same value as in placements (Segments). You can leave it empty if you are not using placements.

[2017-11-26 19:38] Param-Harrison commented on #7
Ok, got it Thanks man. Since I understood the answer, I am marking the issue as closed.

[2017-11-26 19:38] #7 closed

[2017-11-27 10:49] Tamplier commented on #3
Hey guys! Sorry for the delay. The issue was fixed in the last update. You can download the new version or just add the following dependencies to plugin's buld.gradle ([your_project]/node_modules/react-native-appodeal/android/build.gradle):
[code]
You don't need these dependencies in your main build.gradle anymore.
If it won't help, feel free to reopen the issue.

[2017-11-27 10:49] #3 closed

[2017-12-11 21:37] Param-Harrison commented on #5
@Tamplier  @NazarKozak can you guys help me on this?

I want to place the ad in specific height or inside a view in react native? Is it possible with this library?

[2017-12-18 16:19] Param-Harrison opened #8 "admob ads loading above content, not loading at the very bottom"
@NazarKozak @Tamplier Guys, I have created few issues, I don't know how to escalate though. I already published my app but I don't want to be banned by admob because the banner overlap with content. I have put margin-bottom 50px.
Still the admob is loading few pixels above (approx., - 20px) and show over the content.

[2018-01-01 14:16] ponomarevv opened #9 "Cocoapods support?"
Hello.
Podspec file `react-native-appodeal/ios/RNAppodeal.podspec` is not correct.
Trying to do `pod install`, I see this:

    - ERROR | attributes: Missing required attribute `homepage`.
    - WARN  | source: The version should be included in the Git tag.
    - WARN  | description: The description is equal to the summary.

[2018-02-02 02:27] vadermemo opened #11 "undefined is not an object (evaluating 'Appodeal.initializeWithApiKey')"
This don´t work with
"react": "16.2.0",
"react-native": "0.52.2",
---------------------------------------------
Xcode  Version 9.2 (9C40b)
---------------------------------------------
This is the stacktrace
undefined is not an object (evaluating 'Appodeal.initializeWithApiKey')
2018-02-01 20:25:49.474860-0600 appodealTest[23664:180237] undefined is not an object (evaluating 'Appodeal.initializeWi

[2018-02-02 05:15] Tamplier commented on #11
@vadermemo
please ensure that you added Appodeal.framework to your project correctly:
https://www.appodeal.com/sdk/documentation?framework=35&full=1&integration=1&platform=4#p_5
Pay special attention to item 5.1.4

[2018-02-03 06:01] vadermemo commented on #11
@Tamplier thanks for your quicly response, but after these steps I got another error, but now get it when I click  on menu Product > build  from Xcode

workspaces/react-native/testFBLogin/ios/FBAudienceNetwork.framework/FBAudienceNetwork(FNFDashTrackMetadata.o)
ld: 1677 duplicate symbols for architecture x86_64
clang: error: linker command failed with exit code 1 (use -v to see invocation)

I thin

[2018-02-09 16:23] Evaske commented on #3
I'm still getting this issue.

Gradle 3.0.1. I have the above in my build.gradle and get the following error:

`/Users/user/Development/app/node_modules/react-native-appodeal/android/build/intermediates/manifests/aapt/release/AndroidManifest.xml:49: error: resource integer/google_p
lay_services_version (aka com.reactlibrary:integer/google_play_services_version) not found.`

[2018-02-12 00:43] UberMC opened #12 "Proguard doesn't compile"
Hi,

Doesn't compile with proguard enabled.

[2018-02-12 00:47] UberMC opened #13 "Portrait Mode broken"
Hi,

app is locked in portrait mode, (androidmanifest + even tried react-native-force-orientation)
When a landscape reward ad is closed, the app glitches out pretty terribly, it rotates between Portrait and landscape a couple times, and 50% of the time it put the app in landscape mode, until the scene is pop'd (I'm using react-native-router-flux)

"How is this even possible?" that the device is ro

[2018-02-12 00:51] UberMC opened #14 "App crashes"
Works on emulator, after building, just crashes. Too lazy to adb it because
1) proguard doesn't work
2) app can't pull from admob even though appodeal dashboard says everything is linked, and admob has checkmarks very every mediation
3) This breaks my app and forces it into landscape.

Really hope you guys work out the bugs, I'll have to try this again when it's working.

[2018-02-12 05:24] Tamplier commented on #12
@UberMC
Please, add the following lines to your proguard config file:
https://www.appodeal.com/sdk/documentation?framework=1&full=1&platform=1#p_7

[2018-02-12 05:40] Tamplier commented on #14
@UberMC
1. I answered you in another thread
2. Please contact our support team, they'll help you to check link status and fix any problems.
3. Another thread

[2018-02-12 05:44] Tamplier commented on #13
@UberMC, could you share your manifest file? Did you notice if it happens with only one ad network or it doesn't depend on a network? Also, could you share your application? I want to investigate the log output.

[2018-02-12 05:44] #14 closed

[2018-02-15 22:12] stnmonroe opened #15 "Native module cannot be null"
Getting this error...

![screen shot 2018-02-15 at 4 07 51 pm](https://user-images.githubusercontent.com/26311858/36283543-79d48714-126a-11e8-8cd6-6bae8074572a.png)

Even though I have RNAppodeal.a linked...

![screen shot 2018-02-15 at 2 08 32 pm](https://user-images.githubusercontent.com/26311858/36283721-ebca2a86-126a-11e8-9f14-e3d32f9e47aa.png)

Appodeal installs differently than many of the o

[2018-02-17 05:19] UberMC commented on #15
Maybe header recursion?

[2018-02-27 10:37] hariharanravi92 opened #16 "how to close RewardedVideo ad with function trigger"
not working  Appodeal.hide() -> onRewardedVideo

how to close or hide  RewardedVideo ad with function trigger in react native.

[2018-04-09 03:58] Bharatchavan20 commented on #3
Facing same issue.

[2018-07-10 14:53] softdev999 opened #17 "iOS integration error"
MacOS High Sierra
Version 10.13.5

Xcode
Version 9.4

I followed everything from here.

![image](https://user-images.githubusercontent.com/17640308/42517802-2f41cf68-8493-11e8-877b-dd03c5ee53f3.png)

After spent 1 day, I made it worked for Android,
But for iOS, I can not make it work though I spent 3 days.

Here's a screenshot of current issue I've faced while integrating Appodeal

![image](https:

[2018-09-17 09:55] perrosnk commented on #1
Any updates on this?

[2018-09-19 12:00] qvick1pro opened #18 "onInterstitialLoaded event didn't fires on ios"
Hi! Your ios module contain an error
`- (void)interstitialDidLoadAd __attribute__((deprecated("Use -interstitialDidLoadAdisPrecache: instead")));`

`interstitialDidLoadAdisPrecache` - not works, this is mistake in method name
`Appodeal.framework -> Headers -> APDDefines.h`

Replace method name `interstitialDidLoadAdisPrecache` by `interstitialDidLoadAdIsPrecache` and event will work.

[2018-10-14 08:51] ilyakar opened #19 "(Android) Error: Admob not found + not loading ads"
Hi,

I followed the simple Android appodeal installation guide on https://github.com/appodeal/react-native-appodeal. Double checked the manual installation section, all of that has been done. When I run the app on Android all builds fine but on first load I get a small notice at the bottom stating: "Error: Admob not found". I have the `onRewardedVideoLoaded` and `onRewardedVideoFailedToLoad` liste

[2018-10-18 04:51] krunalp1993 commented on #1
@kurtsergey @perrosnk

Looks like Appodeal has stopped supporting React Native lib. Btw, We are in the same room as you are. We are going to do it our self.

Did you try to implement Native Ads? If yes, Tell me. If no, We are going to implement it by customizing this Lib.

[2018-10-23 18:22] perrosnk commented on #1
@krunalp1993 No, I haven't found a solution to this. I am not able to implement Native ads, but I am desperately trying to find a way, so I you manage to do it please let me know. That would be great news!

[2018-11-03 22:15] perrosnk commented on #1
@krunalp1993 Did you have any luck implementing it?

[2018-11-10 06:01] shanematte commented on #3
Thanks. I spent 5 hours fixing this error. But when you install a new package, no dependencies were added. Had to manually

[2018-11-11 02:34] king804 opened #20 "Can i maven import more third party?"
maven {
   url  "https://adcolony.bintray.com/AdColony"
}

Does it mean i only connect to AdColony?
If yes, how can i import more third party...

Many Thanks!

[2018-11-11 13:54] king804 commented on #3
any update?

[2018-11-11 18:22] perrosnk opened #21 "Why Appodeal stopped supporting react native?"
According to this [post](https://blog.appodeal.com/framework-policy-changes/) Appodeal has stopped supporting react native.
Why is that?

[2018-12-26 12:59] azsidhu commented on #21
@perrosnk let me know if you find the answer :)

[2019-01-27 17:46] Momazo7u7 commented on #21
It was because only few people used the module and they needed the time that they spent in this module for other things.

[2019-04-05 05:50] vadermemo commented on #21
few people? i dont think so!  so many developers are using this framework

[2019-04-18 16:57] Momazo7u7 commented on #21
Did you read the post?

[2019-05-04 17:43] irfansener opened #23 "Anyone can help me ?"
I want to implement appodeal to my react-native projects. But this package isn't work. Anyone can help me for implement appodeal to react-native projects ?

[2019-10-18 00:33] tarouboy commented on #21
I think you can judge by the number of stars given.

[2019-12-06 17:50] RodolfoGS commented on #21
React Native is the future of mobile apps, they should continue support

[2019-12-06 17:56] RodolfoGS commented on #23
I'm too, they stoped support of React Native 🤦‍♂️

[2020-05-17 00:38] aliasad106 opened #27 "Appodeal Banner view isn’t showing ad when added on a specific place."
With new update AppodealBannerview is not showing up in view hierarchy. Even not in the example provided.
Callbacks on AppodealBannerView’s props are also not called.

[2020-05-18 06:57] staskochkin commented on #27
@aliasad106 Hey! AppodealBannerView isn't completely implemented yet for Android platform. Please use static banners (top/bottom) instead.

[2020-05-18 11:15] #9 closed

[2020-05-19 07:57] AnkitStar761 opened #28 "Menifest merger failed"
I took a fresh react-native project with version 0.62. My node version is v12.13.0. Android studio version is 3.6.3 .I followed each single step to integrate sdk. When I try to run the app I get the error -

`Manifest merger failed : Attribute application@allowBackup value=(false) from AndroidManifest.xml:11:7-34
	is also present at [com.appodeal.ads.sdk.networks:my_target:2.6.0.3] AndroidManifest

[2020-05-19 09:03] staskochkin commented on #28
@AnkitStar761 Hey! Please try to add
[code]
in `<application>` tag of *AndroidManifest.xml*

[2020-05-19 09:11] AnkitStar761 commented on #28
I tried it but no effect on the error.

[2020-05-19 10:11] staskochkin commented on #28
@AnkitStar761 Could you please share your *AndroidManifest.xml*?

[2020-05-19 10:27] AnkitStar761 commented on #28
@staskochkin Here is my menifest -

`<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.demodeal" xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
      android:name=".MainApplication"
      android:labe

[2020-05-19 10:54] staskochkin commented on #28
@AnkitStar761 Are you using appodeal plugin from GitHub or are you add it from `npm` registry?
For now `npm` version is 2.5.15 and it's outdated.
To get latest version from GitHub you should remove appodeal-plugin dependency from your *package.json*, remove *node_modules* and run

[code]

[2020-05-19 15:03] #13 closed

[2020-05-19 15:08] #5 closed

[2020-05-19 15:09] #8 closed

[2020-05-19 15:09] #17 closed

[2020-05-19 15:11] staskochkin commented on #20
You can add other third party dependencies. Just add needed implementations in dependencies

[2020-05-19 15:11] #20 closed

[2020-05-19 15:12] #15 closed

[2020-05-19 15:13] #11 closed

[2020-05-19 15:13] #1 closed

[2020-05-19 15:13] #12 closed

[2020-05-19 15:13] #16 closed

[2020-05-19 15:13] #18 closed

[2020-05-19 15:14] #19 closed

[2020-05-19 15:14] #21 closed

[2020-05-19 15:14] #23 closed

[2020-05-20 08:51] staskochkin commented on #28
@AnkitStar761 Hi! Does you problem still exist?

[2020-05-20 08:57] #28 closed

[2020-05-21 09:46] dylancom opened #30 "NPM package outdated"
If you install with NPM it resolves to version 2.1.5 (published 3 years ago).
https://www.npmjs.com/package/react-native-appodeal

[2020-05-21 13:11] staskochkin commented on #30
@dylancom Hey! We plan to add some features to plugin such as Consent Manager support and Banner Views before update package in NPM registry.

[2020-05-21 16:35] perrosnk opened #31 "Native ads"
Any plans to support native ads?

[2020-05-22 12:41] staskochkin commented on #27
@aliasad106 Hi! We added support of AppodealBanner in #29

[2020-05-22 12:43] staskochkin commented on #27
I'll close this issue. Please open new issue if your problem still exists.

[2020-05-22 12:43] #27 closed

[2020-05-28 15:13] staskochkin commented on #30
@dylancom  Hi! We updated Appodeal to 2.6.4 and added previously mentioned features. NPM version is up to date now.

[2020-05-28 15:13] #30 closed

[2020-05-30 07:50] dylancom opened #35 "CocoaPods could not find compatible versions for pod "APDPubnativeAdapter""
It could find version 2.6.3 but not 2.6.4.1 since the update.
All the other adapters install correctly though.

[code]

[2020-06-01 07:23] staskochkin commented on #35
@dylancom Hey, we updated `APDPubnativeAdapter`. It should be available through CocoaPods main repo: [APDPubnativeAdapter](https://github.com/CocoaPods/Specs/blob/0b607e2ab94aaa70893f56f3f6329bcbf03996af/Specs/2/5/f/APDPubnativeAdapter/2.6.4.1/APDPubnativeAdapter.podspec.json)
Try to run
[code]
If you problem still exists please reopen this issue.

[2020-06-01 07:23] #35 closed

[2020-06-02 01:24] BenjErgizerBunny opened #36 "iOS installation Issue"
**Has anyone encountered this error?**

After following the installation guide for iOS, I get this when trying to build the app on iOS

```clang: error: linker command failed with exit code 1 (use -v to see invocation)```

I followed the instructions in the README, including the instructions on Appodeal's website for iOS SDK 2.6.4 but it seems that all of the AppDelegate.m files I'm looking at in

[2020-06-02 09:49] staskochkin commented on #36
@BenjErgizerBunny Hi, Appodeal requires to use `use_framework!` in Podfile, but Flipper pod can't be installed when this flag was set.
I see that plugin pod is not included in your project Podfile. Please add
[code]

Also you import:
[code]
In your *AppDelegate.m* but there are no such dependencies in Podfile. If you installed Firebase manually it can conflict with Appodeal Ad Mob adapter and can

[2020-06-02 23:54] BenjErgizerBunny commented on #36
Thanks @staskochkin!  I removed the Appodeal code from AppDelegate.m and modified my Podfile but I'm still having issues.

I included a summary below.  If you have any other suggestions that would be amazing!

I notice the example is using Folly and use_framework! which the README says cannot be used together but Folly is required for React Native.

I'm getting this error now when trying to launch

[2020-06-03 07:22] staskochkin commented on #36
Thanks @BenjErgizerBunny. Appodeal hasn't conflicts with Folly but can't work with Flipper. It was a mistake in README and I fix it in [this commit](https://github.com/appodeal/react-native-appodeal/commit/79025ef41561013e3cc994330c759931f8d579e8).
In demo app we have this preprocessor macro, to avoid compile time errors when Flipper is not linked with project.
[code]
We need more detailed report

[2020-06-05 14:55] dylancom opened #37 "Feature Request: Initialize callback"
If I directly show a banner after Appodeal.initialize('Your app key', adTypes, consent), it won't display on App startup. Unless I add a delay of around 1 second in between. Is there any way to know when Appodeal was initialized, so I can show the banner directly after the callback?

[2020-06-05 16:20] BenjErgizerBunny commented on #36
Thanks so much for the advice @staskochkin !

I attached the report I exported from Xcode when the build failed.  Also, I don't think I. mentioned but I'm adding react-native-appodeal to my existing project and not using the example as my base project.  I'm also not using Flipper.

Thanks again for all your help, I really appreciate because I'm really stumped!

[Build target wwdbbenji_2020-06-05T1

[2020-06-06 20:01] BenjErgizerBunny commented on #36
I managed to get the app to launch, but it errors out while launching and gets stuck having just loaded the background of the app and another else.  This is the error I get when I build with Xcode.

Has anyone seen anything like this before?

It seems to be an error in the RNAppodealBannerView.m file

<img width="1792" alt="Screen Shot 2020-06-06 at 3 50 38 PM" src="https://user-images.githubuserc

[2020-06-07 10:04] staskochkin commented on #36
Hi @BenjErgizerBunny. Did you solve compilation issue by adding swift file into project?
Runtime issue seems to be related to trying to use AppodealBanner without/before Appodeal was initialised.
Please, check that Appodeal was initialised before you trying to add AppodealBanner in hierarchy.
For example you can use this approach. If you are not planning to use Consent Manager you can just call in

[2020-06-07 10:20] staskochkin commented on #37
Hi @dylancom. It seems to be a bug on native SDK side. The idea was that once you call initialise method of Appodeal SDK you are able to use banners without awaiting initialisation callback. We will research this case and add fixes in future release of Appodeal SDK.
For now please use your approach with extra delay.

[2020-06-09 03:42] BenjErgizerBunny commented on #36
I did fix the complication issue by creating a swift file!  I was also having the issue you mentioned that the Banner was trying to load before Appodeal was initialized and it would cause the app not to render so I followed your approach and it works perfectly now.  Thanks so much for all of your help @staskochkin , I really appreciate it!  I couldn't have gotten it working without you!

[2020-06-09 05:01] #36 closed

[2020-06-09 06:38] tushali024 commented on #37
@dylancom

I've resolved this issue by updating state value. so on initialize callback I've updated the state and show banner once appodeal SDK initialized.

Here's the code snippet I've used:

//componentDidMount
initialize(true, (status: AppodealConsentStatus, regulation: AppodealConsentRegulation) => {
        this.setState({
            initialised: true,
        })
})

//render
{this.state.in

[2020-06-14 00:30] christophe13012 opened #39 "App goes background"
Hello, i have a problem with rewarded videos, on iOS everything is ok, but on android, when I show the ad, app goes in background at the beginning (the ad continue till the end) ... do you have an idea, maybe some authorization ? thanks for your help

[2020-06-14 23:44] #39 closed

[2020-06-15 01:06] BenjErgizerBunny opened #40 "How does Consent Manager Work?"
I want to collect consent for users covered by GDPR and CCPA and I see Appodeal's consent manager is part of this package.  I've used it on the example app but I don't fully understand how it works.

1. Does it automatically show up if the user is located in a location covered by GDPR or CCPA

2. How can I test to make sure it's showing up properly based on the user's location?  I've tried changin

[2020-06-15 06:44] staskochkin commented on #40
Hi @BenjErgizerBunny, Yes Appodeal's consent manager automatically show up if the user is located  in a location covered by GDPR or CCPA. Location is determine on backend by IP address. If you want to check that it's showing up properly you can use any **VPN** service.
Also you can use (after you call `synchroniseConsent` method)
[code]
This method will shows popup for user from any location. But

[2020-06-15 12:34] BenjErgizerBunny commented on #40
Thanks for much for the explanation @staskochkin !  Do you know how I would go about styling the consent screen so the UI is inline with my app?  I think that will get me a higher "yes" rate.

[2020-06-16 13:13] staskochkin commented on #40
Current version of Consent Manager does not support custom styling of UI. Because of Consent Manager is supported on native iOS and Android, Unity and React Native, Consent dialog is static HTML that is served by Appodeal's backend and rendered by explicit web view of Consent Manager SDK. This HTML can be modified without Consent Manager update, however this functional is private as far as i know.

[2020-06-16 15:56] BenjErgizerBunny commented on #40
Great, thanks for the background!  Is there an easy way to still use Appodeal’s logic to determine when to display my own custom consent component and force the Consent Manager UI component not to display?

[2020-06-17 13:01] staskochkin commented on #40
In current implementation when application calls `Appodeal.synchroniseConsent` plugin will synchronise consent, load and show dialog if needed. You can fork this plugin and remove loading and showing logic: [iOS](https://github.com/appodeal/react-native-appodeal/blob/98c9bf4f701e231f16d0c673d6e5ed53921916df/ios/RNAppodeal.m#L77), [Android](https://github.com/appodeal/react-native-appodeal/blob/98c

[2020-06-23 19:01] Justin-Golden commented on #31
I just want to second the request for native ads support.

[2020-06-24 06:14] staskochkin commented on #40
I'll close this issue. If you have any questions regarding Consent Manager please open new one or contact our support team.

[2020-06-24 06:14] #40 closed

[2020-06-30 08:53] staskochkin commented on #37
@dylancom We've fixed banner behaviour in 2.6.5. Since 2.6.5 banner view API can be used synchronously after `Appodeal.initialize` method.

[2020-06-30 08:53] #37 closed

[2020-06-30 08:55] dylancom commented on #37
@staskochkin Thanks, I'm going to test it now!

[2020-07-02 12:28] marf opened #41 "Change library package name android from com.reactlibrary to com.appodeal"
Hello,
I have noticed that the package name of the library is com.reactlibrary which is the default package name of newly created react libraries, could you please change it in the project with com.appodeal or something like that?
This may cause some package name complicates with other packages which have the same problem.

Thank you

[2020-07-06 07:04] staskochkin commented on #41
Hello @marf!
I've merged you PR into master branch and, but I've renamed it into `com.appodeal.rnappodeal`. This updates will be included in next release.
Thank you for feedback and your contribution!

[2020-07-06 07:04] #41 closed

[2020-07-12 11:08] dylancom commented on #31
I would also like support for this feature.

[2020-07-13 09:53] dylancom commented on #31
Maybe: https://github.com/ammarahm-ed/react-native-admob-native-ads can be used as an example.

[2020-07-24 07:07] Astrejoe opened #46 "more than one banner on a single screen"
from the documentation:

Why is this? Are there plans to make multiple banners on a single screen available in the future?

(by the way, there's a small typo: I think you mean: "You can show only one banner" instead of "You can use show only one banner")

[2020-07-27 15:02] MrNapcae opened #47 "error post install - include statically linked binaries"
Ошибка при установке podfile

`platform :ios, '9.0'
require_relative '../node_modules/@react-native-community/cli-platform-ios/native_modules'

source 'https://github.com/appodeal/CocoaPods.git'
source 'https://cdn.cocoapods.org/'

install! 'cocoapods',
    :deterministic_uuids => false,
    :warn_for_multiple_pod_sources => false

def appodeal
 pod 'APDAdColonyAdapter', '2.7.2.1-Beta'
    pod 'AP

[2020-07-28 15:37] staskochkin commented on #47
Hello @MrNapcae. Please try to add `pre_install` hook into your Podfile
[code]

[2020-07-29 07:21] MrNapcae commented on #47
<code>platform :ios, '9.0'
require_relative '../node_modules/@react-native-community/cli-platform-ios/native_modules'

source 'https://github.com/appodeal/CocoaPods.git'
source 'https://cdn.cocoapods.org/'

pre_install do |installer|
  installer.pod_targets.each do |pod|
    if pod.name.start_with?('RNFB')
      def pod.build_type;
        Pod::BuildType.static_library
      end
    end
  end
end

[2020-07-29 09:49] staskochkin commented on #47
@MrNapcae Did you get any errors after running `pod install`? Did you try to clean CocoaPods and React-Native caches?

[2020-07-29 09:51] MrNapcae commented on #47
I deleted the pods files and reinstalled no errors, everything went well.

[2020-07-29 12:39] MrNapcae commented on #47
We managed to cope with the previous error using other versions and cleaning pods / node-modules. Now the video does not load. I am attaching the logs to xcode:

2020-07-29 15:36:58.952812+0300 thegame[61156:1615188] [Appodeal 2.6.5] [info] Search satisfying impression for placement: your_placement
2020-07-29 15:36:58.953520+0300 thegame[61156:1615188] [Appodeal 2.6.5] [debug] [API] Can show Inter

[2020-07-30 08:20] staskochkin commented on #47
@MrNapcae. I guess that pod installation issue is resolved. Video load issues could be related to integration, fillrate, or account settings. You can directly contact our support team, it should be a more convenient way to solve it.
Please contact our support team via Intercom on [the web site](https://www.appodeal.com) or via email support@appodeal.com

[2020-07-30 08:20] #47 closed

[2020-08-03 06:39] staskochkin commented on #46
Hello @Astrejoe! There are no plans to support multiple banners. This is because of the high risks of ad placement's ban from ad networks and apps rejection from AppStore/Google Play. Displaying multiple banners is may cause app performance issues as well.

I will fix it, thank you!

[2020-08-03 06:39] #46 closed

[2020-08-13 02:58] nica0012 commented on #31
Really looking forward to this.

[2020-08-15 19:49] zoftify opened #48 "Placement ids aren't registered for Android"
Hi, thanks a lot for the plugin!

I noticed there is an issue related to the placements.
I have the same code for android & ios and registered the same placements for iOS and Android. iOS works like a charm, but Android placements aren't recognized:

![image](https://user-images.githubusercontent.com/56393200/90320379-84181980-df49-11ea-83aa-c3ac62de741a.png)

How can we fix that?

Cheers!

[2020-08-18 07:02] staskochkin commented on #48
Hello @zoftify. I've checked that plugin is sent `placement` from JS to Android native SDK. I think that this issue is not related to plugin logic. Please contact our support team via [intercom](https://appodeal.com) or email `support@appodeal.com`. It should be a more convenient way to solve it.

[2020-08-19 10:05] asce4s opened #49 "Vungle sdk seems to be non compliant"
Got this message from google
"We found your app is using a non-compliant version of Vungle SDK which contains code to download or install applications from unknown sources outside of Google Play."

[2020-08-20 07:24] staskochkin commented on #49
Hello @asce4s Appodeal React-Native plugin doesn't require to use Vungle adapter. You can disable it by adding next code in your project `build.gradle` (app module)
[code]

[2020-08-21 11:35] zoftify opened #50 "Android: Null pointer exception - Attempt to invoke virtual method void android.view.View.setVisibility(int)"
Hi,

We're seeing this issue quite often on Android (via crashlytics).

Maybe worth adding a null pointer check prior to setting the visibility?

Thanks

[code]

[2020-08-26 14:13] staskochkin commented on #48
@zoftify Thanks for log and code snippet. Looks like we missed placement for the `AppodealBanner` component on the Android platform. We will fix it in the next release.

[2020-08-26 14:17] staskochkin commented on #50
Hi @zoftify Thank you for your feedback. We will fix it next release.

[2020-09-01 17:29] dylancom opened #52 "iOS 14+ Support"
_Starting in iOS 14, IDFA will be unavailable until an app calls the App Tracking Transparency framework to present the app-tracking authorization request to the end-user. If an app does not present this request, the IDFA will automatically be zeroed out which may lead to a significant loss in ad revenue._

We need to present the App Tracking Transparency authorization request alert and initialize

[2020-09-07 06:40] staskochkin commented on #52
Hello @dylancom!
According to [the latest news from Apple](https://developer.apple.com/news/?id=hx9s63c5) apps will be required to obtain permission to track users starting early next year. I think we need to wait for more information from Apple.
For now, I've found that [react-native-permissions package](https://github.com/react-native-community/react-native-permissions) already added support of

[2020-09-07 06:40] staskochkin commented on #49
Closing due to inactivity.

[2020-09-07 06:40] #49 closed

[2020-09-12 12:34] dragonfrei commented on #50
@staskochkin hey, any plans when those fixes will be released?

[2020-09-12 12:36] alex-ragin commented on #50
Hi @staskochkin, any plans when those fixes will be released?

[2020-09-13 08:47] koshovnik opened #53 "[iOS] Error: 117 duplicate symbols for architecture x86_64"
### Can't build new react-native project with react-native-firebase/messaging and react-native-appodeal.

"dependencies": {
    "@react-native-firebase/app": "^8.4.1",
    "@react-native-firebase/messaging": "^7.8.4",
    "react": "16.13.1",
    "react-native": "0.63.2",
    "react-native-appodeal": "^2.6.5"
  }

### Podfile:

require_relative '../node_modules/react-native/scripts/react_native_pod

[2020-09-14 14:37] staskochkin commented on #50
Hi @alex-ragin, we plan to release these updates with the next update of Appodeal SDK. ETA is the end of this week.

[2020-09-14 15:18] staskochkin commented on #53
Hello @koshovnik, Could you please attach `Podfile.lock`?
I've tried to reproduce this on the empty project with:
[code]
That was resolved as `iOS dependencies`:
[code]
And I haven't get any compiler errors.

[2020-09-15 06:53] koshovnik commented on #53
`
PODS:
  - Appodeal (2.6.5)
  - boost-for-react-native (1.63.0)
  - DoubleConversion (1.1.6)
  - FBLazyVector (0.63.2)
  - FBReactNativeSpec (0.63.2):
    - Folly (= 2020.01.13.00)
    - RCTRequired (= 0.63.2)
    - RCTTypeSafety (= 0.63.2)
    - React-Core (= 0.63.2)
    - React-jsi (= 0.63.2)
    - ReactCommon/turbomodule/core (= 0.63.2)
  - Firebase/CoreOnly (6.30.0):
    - FirebaseCore (= 6.1

[2020-09-16 14:39] staskochkin commented on #53
Hi @koshovnik, I've managed to reproduce this issue. To solve it, please try to add `use_frameworks!` into projects `Podfile`. In my case the final `Podfile` is
[code]
Please also take a look at `def appodeal_adapters` please add ad networks adapters. You can find them at this [doc page](https://wiki.appodeal.com/en/ios/2-6-5-ios-sdk-integration-guide). To avoid runtime issues you also need to add

[2020-09-17 12:52] staskochkin commented on #48
Fix has been released in **2.7.4**

[2020-09-17 12:52] #48 closed

[2020-09-17 12:52] staskochkin commented on #50
Fix has been released in **2.7.4**

[2020-09-17 12:52] #50 closed

[2020-09-20 17:50] pawelsas opened #54 "Update documentation: docs link leads to version 2.6.5"
Hi there,

Just a short one.

The GitHub docs under point 2 "Add Appodeal adapters. See Docs" leads to version `2.6.5` docs but `npm i react-native-appodeal` installs `2.7.4 beta`. Following the `2.6.5` docs leads to an error after `pod install`. Please update.

Thanks for the great work!

[2020-09-24 21:06] abudhia-oyo opened #55 "Does this work with Expo Managed Workflow?"
Please confirm if it would work with expo managed workflow or requires linking?

[2020-09-25 16:23] perrosnk commented on #31
Any updates on this?

[2020-09-26 11:51] Albermonte commented on #55
Won't work with Managed Workflow, you have to eject and configure it manually following the Readme

[2020-09-26 13:04] dylancom commented on #31
I'm wondering what's blocking this.
I think it should be fairly easy to port this following these two packages:
https://github.com/callstack/react-native-fbads
https://github.com/ammarahm-ed/react-native-admob-native-ads

[2020-09-26 14:12] #54 closed

[2020-09-29 11:23] staskochkin commented on #53
I will close it due to inactivity.

[2020-09-29 11:23] #53 closed

[2020-09-30 06:47] dylancom opened #57 "BannerView takes fixed 320 width (Facebook Ads)"
I am using Appodeal.setSmartBanners(true) but noticed this has only effect on fixed top/bottom banners.
My facebook banners always appear in 320x50.

After reading the iOS SDK docs I see it's because there is no way yet (in this package) to toggle usesSmartSizing.

[code]

[2020-09-30 10:04] #57 closed

[2020-10-02 15:20] dylancom opened #59 "AdMob tablet banners exceed height of 90"
In July I started to use adSize = 'tablet' for banners on iPad (with a fixed height of 90 in style).
I have noticed that several AdMob banners exceeded the height of 90 so they we're not shown completely (some parts cutoff).

As of 12 august I suddenly received an "Ad serving limit" which is still active. I'm starting to think that this might be the cause as wrong banner placement / overlapping th

[2020-10-07 07:17] staskochkin commented on #59
Hi @dylancom!
You have faced this issue on iOS or Android platform?

[2020-10-07 07:18] dylancom commented on #59
@staskochkin on iOS

[2020-10-07 08:25] staskochkin commented on #59
Appodeal is using
[code]
As size of AdMob banners for iPads. The height of creatives is depends on advertising campaigns and AdMob algorithms. It can be more than 90. Appodeal SDK will crop it in this case because Appodeal banner container has fixed size 90.

[2020-10-07 09:34] Tahriff opened #61 "IOS - CocoaPods could not find compatible versions for pod "Appodeal""
When trying to setup react-native-appodeal for the ios version of my react-native app, I encountered the following error after typing `pod install`.

Here is a view of my package.json dependencies:

[2020-10-07 13:32] staskochkin commented on #61
Hello @Tahriff!
Looks like you are using `2.7.4` version of this plugin which depends on `Appodeal SDK 2.7.4-Beta`. Please try to update to the latest version of this plugin `2.7.5` which depends on `Appodeal 2.7.4`

[2020-10-12 09:03] Tahriff commented on #61
Hi @staskochkin,
Works like a charm with version 2.7.5. Thanks a lot !

[2020-10-12 09:03] #61 closed

[2020-10-21 18:15] Albermonte opened #63 "App rejected from Amazon Store"
I've just submitted my app to the Play Store and Amazon Store, while it was approved on the Play Store it was rejected on Amazon Store, the reason is the following:

Any way to configure Appodeal to prevent this or remove the conflicting SDKs?

[2020-10-27 12:28] staskochkin commented on #63
Hello, @Albermonte
I would like to recommend to remove the next ad networks adapters: **Mintegral**, **YandexMobileAds**, **TapJoy**, and **OguryAds**

Example for Appodeal SDK 2.7.4 (plugin version 2.7.6) is
[code]

[2020-10-28 09:21] #59 closed

[2020-10-28 14:38] Albermonte commented on #63
Thanks

[2020-10-28 14:38] #63 closed

[2020-11-12 18:31] vineetshetty opened #64 "event parameter values for eventlisteners are different for Rewarded video"
Just spent a lot of time debugging this. The eventlistener callback value for AppodealRewardedEvent.CLOSED for iOS and Android are different.

iOS sends an event called event.fullyWatched and android sends an event called event.isFinished. For clarity:

iOS
Appodeal.addEventListener(AppodealRewardedEvent.CLOSED, (event: any) =>
    console.log("Rewarded video closed: ", **event.fullyWatched**)
)

[2020-11-16 15:03] SMJ93 opened #65 "Android RNAppodeal.requestAndroidMPermissions got 1 arguments, expected 0"
Hi, this looks like a great alternative to AdMob, but I am having a lot of difficulty getting it working on Android.

I've followed the instructions in the Read me and installed: `"react-native-appodeal": "2.7.6"`

On Android I get the following when initialising:

[code]

Looking at `requestAndroidMPermissions.ts` it looks like you are parsing through a callback, but not in expecting it in the Ja

[2020-11-16 15:14] SMJ93 opened #66 "iOS hangs with RNAppodeal.setOnLoadedTriggerBoth is not a function"
I have followed all of the instructions in the read me for iOS. When initialising the app with `Appodeal.initialize` the app just hangs and outputs:

[code]

Looking at the code there is no `setOnLoadedTriggerBoth` in iOS.

Version:

` "react-native-appodeal": "2.7.6",`

Env:
[code]

[2020-11-18 07:28] staskochkin commented on #64
Hello @vineetshetty. Changes will be added in the next release.

[2020-11-18 08:45] staskochkin commented on #66
Hello @SMJ93. Fix will be added in the next release.

[2020-11-18 08:56] SMJ93 commented on #66
Hi @staskochkin, great! Thank you

When will the next release be?

[2020-11-18 11:06] staskochkin commented on #64
@vineetshetty Changes have been added into react-native-appodeal@2.7.7

[2020-11-18 11:07] staskochkin commented on #66
@SMJ93 Changes have been added into react-native-appodeal@2.7.7. This version is available.

[2020-11-18 11:14] staskochkin commented on #65
@SMJ93 Fix for this issue was added into react-native-appodeal@2.7.7.

[2020-11-18 11:49] SMJ93 commented on #65
@staskochkin, Android no crashes with the following:

[code]

[2020-11-18 12:25] staskochkin commented on #65
How do you call `setOnLoadedTriggerBoth`? It takes the boolean value as an argument.
[code]

[2020-11-18 13:56] SMJ93 commented on #65
@staskochkin using `Appodeal.setOnLoadedTriggerBoth(true)`.

It works fine on iOS, but Android crashes. I'll set to false for now.

[2020-11-18 14:02] SMJ93 commented on #66
Thank you @staskochkin. iOS is working now 😄

[2020-11-18 14:02] #66 closed

[2020-11-18 15:11] SMJ93 commented on #65
Hi @staskochkin, setting `Appodeal.setOnLoadedTriggerBoth(false)` results in Android building 🎉

I am still having problems with Android though. The test Advert doesn't loaded and `onAdFailedToLoad` doesn't fire. It is working as expected on iOS.

[2020-11-29 20:26] perrosnk commented on #31
Any updates from the appodeal team?

[2020-12-01 15:05] devGuerra opened #70 "User 10242 does not meet the requirements to access device identifiers."
Hi recently i see this alternative to admob,

Now i using for my apps created in react native, but a find this error in my debug console,
obs: I not living in colombia and not use claro

this error is fired every 3 seconds

[code]

[2020-12-02 11:28] vineetshetty commented on #64
Thank you!

[2020-12-02 11:28] #64 closed

[2020-12-02 22:47] #70 closed

[2020-12-13 16:12] perrosnk opened #72 "[QUESTION] Do I need to synchronise after user consent?"
If I initialize like this:

[code]

and we haven't yet asked the user for consent or it's the first time that the user opens the app. Do I need to re-initialize Appodeal after we call this?

[code]

[2020-12-13 17:39] perrosnk opened #73 "No impressions or views logged when MREC is within a Flatlist."
I am using a flatlist to present multiple items and within those items I show some Ads. Test ads appear correctly, requests and fills are logged correctly, but no Impressions or views are logged.

[2020-12-24 12:54] #73 closed

[2020-12-24 18:14] perrosnk commented on #52
@dylancom @staskochkin have you found a solution on how to do this?

[2020-12-28 10:16] #52 closed

[2020-12-31 08:10] staskochkin commented on #72
Hello @perrosnk. No, you don't. Appodeal will automatically detect a change of user consent if you call `Appodeal.forceShowConsentDialog` after Appodeal initialization.

[2020-12-31 09:44] #72 closed

[2021-01-08 16:32] markchen8717 opened #74 "AppodealBanner displays ad but doesn't log impression"
AppodealBanner displays the banner ad fine inside the app, however, the impression is not logged. More over, manually loading an ad and showing it with Appodeal.show(AppodealAdType.BANNER_TOP) will log an impression. I tried to put Appodeal.show(AppodealAdType.BANNER_TOP) inside onAdLoaded but no luck there either.

[2021-01-11 19:28] perrosnk commented on #74
I am facing the same issue on Android devices.
Furthermore, due to the fact that the impression is not logged, the sdk doesn't trigger a banner refresh on Android devices leading to further loss of revenue.
I have filled a bug report to the appodeal team on the website and I am waiting for a response too.

[2021-03-31 20:24] Tahriff opened #77 "Android - cannot upgrade further than 'com.appodeal.ads:sdk:2.6.3.+'"
I've been using the react-native-package for a couple of month now. On Android, I've never been able to upgrade the SDK to a version higher than 2.6.3.

I can use a higher react-native package, but on the build.gradle, but my app is crashing if I use a version higher than 2.6.3 here:
`implementation 'com.appodeal.ads:sdk:2.8.1.+'

I don't get any error thrown. The app is launching and closes insta

[2021-04-06 03:08] Watersdr opened #78 "Disable network method is broken on iOS and Android"
The Readme lists this instruction for disabling networks individually:
[code]

The first issue is that the strings for each network are very hard to find in the docs. I was finally able to find them inside the iOS docs (but on in the Android ones) [here](https://wiki.appodeal.com/en/ios/2-9-1-ios-sdk-integration-guide/configure-sdk). But then these strings also don't work for either platform with

[2021-05-03 14:33] staskochkin commented on #78
Hello @Watersdr! Thanks for feedback. This should be fixed in [2.10.0 release](https://www.npmjs.com/package/react-native-appodeal/v/2.10.0)

[2021-05-24 20:47] 90minutes opened #82 "sendEventToJS() crashes on Android"
Hi there!

First of all, thanks for the amazing work. Been using this for months in production. But there has been this issue since I first added Appodeal:

[code]

Would you please help with that?

[2021-06-11 11:25] #78 closed

[2021-06-11 11:27] staskochkin commented on #77
@Tahriff Hello, please trying to update this plugin to the latest version (**2.10.1**)

[2021-06-11 11:28] #65 closed

[2021-06-11 11:28] #74 closed

[2021-06-11 11:28] #55 closed

[2021-06-11 11:42] staskochkin commented on #82
Hello @90minutes, this [commit](https://github.com/appodeal/react-native-appodeal/commit/5a0c85149943c2e7c65d528048c74e73543b5fa9) should fix this issue

[2021-06-11 12:02] 90minutes commented on #82
Thank you!

[2021-06-23 20:28] nica0012 commented on #53
What if you have manually added the adapters?

[2021-07-13 20:25] mydesweb opened #83 "Android crash"
Inside Consent Modal when I press on Partners > View Partner's Privacy Policies the app is crashing on Android.
I use the latest version.

[2021-07-26 14:54] 90minutes commented on #82
@staskochkin, can you please publish the changes on npm? Thanks!

[2021-08-06 11:17] staskochkin commented on #83
Hello @mydesweb, could you please provide exception stack trace?

[2021-08-06 11:21] staskochkin commented on #82
@90minutes Changes has been added into [2.10.2 release](https://www.npmjs.com/package/react-native-appodeal/v/2.10.2).

[2021-08-06 11:21] #82 closed

[2021-08-15 23:38] jacow opened #84 "Warn on Initialize Appodeal"
Hi, i'm trying to Initialize Appodeal. But why a few seconds later I got a warning like this?

 _WARN  Sending `onRewardedVideoLoaded` with no listeners registered.
 WARN  Sending `onBannerLoaded` with no listeners registered.
 WARN  Sending `onNonSkippableVideoLoaded` with no listeners registered.
 WARN  Sending `onInterstitialLoaded` with no listeners registered._

Is there something missing or

[2021-08-23 07:19] staskochkin commented on #84
Hello, @jacow. This warnings are appeared in case that an app is not registering call-backs listeners. If you app logic doesn't need to listen Appodeal's callbacks you can just ignore such warnings.

[2021-08-30 10:56] arsalan-arshad opened #85 "expo integration"
how to integrate into expo react native

[2021-09-10 00:46] TSCSOftware opened #86 "please add flutter package"
please add official flutter package.we have unofficial version but it is too big.https://pub.dev/packages/appodeal_flutter

[2021-09-10 10:57] ilya-bmi opened #87 "AppodealBanner doesn't shows a banner in different screens."
I need to show a banner in multiple places in my app. But as far as a banner displayed at one place it will not shows on another, even on different screens.
I've tried:
Appodeal.hide(AppodealAdType.BANNER);
and destroy the component.

without success.
Do you have any solution around it?

[2021-09-12 00:10] jacow commented on #84
Ok, thank you for the information.

But, when i try to load the banner why i's always failed.
I'm using banner view. And i add callback onAdFailedToLoad then i got this log,

 LOG  Banner view is failed to load

May you help me why it's happend ?

[2021-09-13 09:54] jacow opened #88 "Error "pod install" on CocoaPods 1.11.1"
[code]

Hi, today i'm updating my CocoaPods to newest version that is version 1.11.1
But, i got this error after doing "pod install"
Any advice?
Thank you

[2021-09-14 10:59] Albermonte commented on #85
Read #55

[2021-11-23 13:57] staskochkin commented on #88
Hello @jacow.
If this issue is still actual, please add `use_modular_headers!` into root of `ios/Podfile`

[2021-11-23 14:02] #85 closed

[2021-11-24 08:25] staskochkin commented on #77
Closed due too inactivity.

[2021-11-24 08:25] #77 closed

[2021-11-24 08:26] staskochkin commented on #83
Closed due too inactivity.

[2021-11-24 08:26] #83 closed

[2021-11-25 10:56] staskochkin commented on #87
Hello @ilya-bmi We added some fixes for banner view behaviour in the latest release (v2.10.3). Also I would like to recommend you use `AppodealBanner`
Integration sample with `react-navigation`

[code]

[2021-12-19 20:20] ghost opened #90 "TypeError: null is not an object (evaluating 'RNAppodeal.initialize')"
Hello,
I followed the installation instructions and during the initialization I get an error from the title (picture no. 1).

![image](https://user-images.githubusercontent.com/40274845/146689460-99f58809-5d42-4986-bbcf-2971087dfa97.png)

In the picture below (no. 2) are the changes that are made on the file package.json after installation process.
![image](https://user-images.githubusercontent.co

[2021-12-20 13:47] staskochkin commented on #90
Hello, @Mladen4!
This error is reproducible on both iOS and Android?

[2021-12-20 14:47] Mladen4 commented on #90
I only tried it on android.

Thanks for the replay.

On Mon, 20 Dec 2021, 14:47 staskochkin, ***@***.***> wrote:

[2021-12-22 08:27] staskochkin commented on #90
@Mladen4 Are you using expo? Did you extract app by using `expo eject`?

[2021-12-22 11:36] Mladen4 commented on #90
I'm using expo and i extracted it.
Also i tried with new clear app (create-react-native-app my-project)
without the expo and the error was the same.

On Wed, 22 Dec 2021, 09:27 staskochkin, ***@***.***> wrote:

[2021-12-23 07:55] staskochkin commented on #90
@Mladen4 Could you please provide sample project where this issue is reproduced?

[2022-01-13 19:18] #88 closed

[2022-02-18 05:56] RodrigoIbarraSanchez commented on #31
Hey! Please add Native Ads! Are very useful ads!

[2022-05-03 08:31] firmandev opened #92 "Could not resolve all files for configuration ':app:debugRuntimeClasspath'."
Could not find com.appodeal.ads.sdk:core:2.11.0.
     Searched in the following locations:
       - file:/C:/Firman/digitalshieldvpn/node_modules/react-native/android/com/appodeal/ads/sdk/core/2.11.0/core-2.11.0.pom
       - file:/C:/Firman/digitalshieldvpn/node_modules/jsc-android/dist/com/appodeal/ads/sdk/core/2.11.0/core-2.11.0.pom
       - https://repo.maven.apache.org/maven2/com/appodeal/ads/

[2022-05-03 11:31] #92 closed

[2022-05-03 14:04] firmandev opened #93 "consent manager is missing"
Appodeal.forceShowConsentDialog((consent: AppodealConsentStatus, regulation: AppodealConsentRegulation) => {
            // Initialise Appodeal SDK here
            const adTypes = AppodealAdType.INTERSTITIAL;
            const consents = true;
            Appodeal.setAutoCache(AppodealAdType.INTERSTITIAL, true);
            Appodeal.setTesting(true);
            Appodeal.setLogLevel(AppodealLogLe

[2022-05-24 11:28] batical commented on #31
Any news? is this project and Appodeal dead ?

[2022-09-12 02:28] phballer11 commented on #84
Hello @jacow , I have the same issue for Banner always being failed to load. Did you ever figure out what was the issue?

[2022-09-15 14:56] RoccoDocco commented on #85
Shouldn't it be possible now with `[Expo Dev Builds](https://docs.expo.dev/guides/config-plugins/)`?

[2022-09-28 07:43] RoccoDocco opened #94 "Expo Integration with new Development Builds"
Expo Dev Builds allow custom [config plugins](https://docs.expo.dev/guides/config-plugins/) which lets you use native modules.
Could it be possible to integrate Appodeal with these config plugins while staying within the Expo Managed Workflow?